body {
  overflow-y: hidden;
  overflow-x: hidden;
  
}
.Book {
  height: auto;
  width: 9.375rem;
}

.Human-bulb {
  height: 15.625rem;
  width: 15.625rem;
}
.Human-book {
  width: 350px;
  padding-top: 28px;
}

#table {
  overflow-y: auto;
  height: 295px;
}
thead tr:nth-child(1) th {
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

#Buttons {
  padding-top: 25%;
}

#Book1 {
  padding-top: 50px;
  transform: rotate(-69deg);
}

#Book2 {
  margin-left: 250px;
  transform: rotate(19deg);
  padding-top: 27px;
}
#Book3 {
  transform: rotate(-17deg);
  margin-top: 50px;
}

#Book4 {
  transform: rotate(-20deg);
}
